<!doctype html>
<html>
<head>
	<title>Continuity{{#if title}} | {{title}}{{/if}}</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="stylesheet" type="text/css" href="//opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css">
</head>
<body>
	<header>
		<div>
			{{#if user}}
				 <a href="/user/{{user.username}}" id="user" title="That's you!">{{user.username}}</a>
			{{else}}
				<a href="/login" id="user" title="Don't be a stranger!">guest</a>
			{{/if}}
			<h1><a href="/" title="Return to home page">Website</a></h1>
			<div id="userdropdown">
				<a href="#" class="darktoggle">Dark mode <div></div></a>
				{{#if user}}
					<a href="/favorites">Favorites</a>
					<a href="/mine">My continuations</a>
					<a href="/logout">Log out</a>
				{{else}}
					<a href="/login">Log in</a>
					<a href="/signup">Sign up</a>
				{{/if}}
			</div>
		</div>
	</header>
	<form action="/search" id="search">
		<input type="text" name="q" placeholder="Search" />
	</form>
	<main>
		{{{body}}}
	</main>
	<footer>
		&copy; 2016 jaflo &ndash; All continuations belong to their respective owners.<br />
		<a href="">About</a> <a href="">Terms of service</a> <a href="">Privacy policy</a>
	</footer>
	<div id="cover" class="hidden"></div>
	<div id="debug"></div>
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<script src="/script.js"></script>
</body>
</html>
