<main>
	{{#if success}}
		<div class="alert success">{{success}}</div>
	{{/if}}
	{{#if error}}
		<div class="alert error">{{error}}</div>
	{{/if}}
	<div id="story">
		{{#each story}}
			<div class="part">
				<div class="content">{{this.content}}</div>
				<div class="info">
					by <a href="#">{{this.author}}</a>
				</div>
			</div>
		{{/each}}
	</div>
	<div id="spacer"></div>
	<div id="currentinfo">
		<span class="stars" title="Favorites">
    		<i class="fa fa-star-o" aria-hidden="true"></i>
    		<span>10</span>
		</span>
		<span class="possiblities" title="Alternate continuations">
    		<i class="fa fa-clone" aria-hidden="true"></i>
    		<span>4</span>
		</span>
		<span class="views" title="Views">
    		<i class="fa fa-eye" aria-hidden="true"></i>
    		<span>578</span>
		</span>
		<span class="age" title="Age">
    		<i class="fa fa-clock-o" aria-hidden="true"></i>
    		<span>{{date}}</span>
		</span>
	</div>
	<div id="navigation">
		<button class="jump" title="Alternate continuation">
			Jump
			<i class="fa fa-repeat" aria-hidden="true"></i>
		</button>
		<button class="continue">
			Continue
			<i class="fa fa-angle-double-down" aria-hidden="true"></i>
		</button>
		<button class="write" title="Write">
			Write
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</button>
	</div>
	<div id="actions" class="toolbar">
		<button class="star" title="Favorite">
			<span>
    			Star
    			<i class="fa fa-star-o" aria-hidden="true"></i>
    		</span>
		</button>
		<button class="jump" title="Alternate continuation">
			<span>
    			Jump
    			<i class="fa fa-repeat" aria-hidden="true"></i>
    		</span>
		</button>
		<button class="main continue"><span>Continue</span></button>
	</div>
	<form action="/create" id="editor" method="post">
		<label for="content" class="overlay">or write your own</label>
		<input type="hidden" name="parent" value= {{currentID}} />
		<textarea name="content" cols="30" rows="10" name="content" id="content"></textarea>
		<div class="toolbar">
			<button type="button" class="preview"><span>Preview</span></button>
			<button type="submit" class="main publish" title="Submit this as continuation to the story"><span>Publish</span></button>
		</div>
	</form>
</main>
<div id="cover" class="hidden"></div>
<div id="debug"></div>
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="/script.js"></script>
