<div id="introduction">This is some introductory text that explains the site. You can use the U, I, O, and P buttons on your keyboard to continue, star, write, and jump respectively. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
{{#if story}}
<div id="story">
	{{#each story}}
	<div class="part" id="part-{{shortid}}">
		<div class="content">{{content}}</div>
		<div class="info">
			by <a href="/user/{{author}}">{{author}}</a>
		</div>
	</div>
	{{/each}}
</div>
<div id="spacer"></div>
<div id="currentinfo">
	<span class="stars" title="Favorites">
		<i class="fa fa-star-o" aria-hidden="true"></i>
		<span>10</span>
	</span>
	<span class="possiblities" title="Alternate continuations">
		<i class="fa fa-clone" aria-hidden="true"></i>
		<span>4</span>
	</span>
	<span class="views" title="Views">
		<i class="fa fa-eye" aria-hidden="true"></i>
		<span>578</span>
	</span>
	<span class="age" title="Age">
		<i class="fa fa-clock-o" aria-hidden="true"></i>
		<span>2 days</span>
	</span>
</div>
<div id="navigation">
	<button class="jump" title="Alternate continuation">
		Jump
		<i class="fa fa-repeat" aria-hidden="true"></i>
	</button>
	<button class="continue">
		Continue
		<i class="fa fa-angle-double-down" aria-hidden="true"></i>
	</button>
	<button class="write" title="Write">
		Write
		<i class="fa fa-pencil" aria-hidden="true"></i>
	</button>
</div>
<div id="actions" class="toolbar">
	<button class="star" title="Favorite">
		<span>
			Star
			<i class="fa fa-star-o" aria-hidden="true"></i>
		</span>
	</button>
	<button class="jump" title="Alternate continuation">
		<span>
			Jump
			<i class="fa fa-repeat" aria-hidden="true"></i>
		</span>
	</button>
	<button class="main continue"><span>Continue</span></button>
</div>
<form action="/create" id="editor" method="post">
	<label for="content" class="overlay">or write your own</label>
	<input type="hidden" name="parent" value="test" />
	<textarea name="content" cols="30" rows="10" id="content"></textarea>
	<div class="toolbar">
		<button type="button" class="preview"><span>Preview</span></button>
		<button type="submit" class="main publish" title="Submit this as continuation to the story"><span>Publish</span></button>
	</div>
</form>
<div id="tester"></div>
{{else}}
Something went wrong.
{{/if}}
